@import "../../config";

.navbar {
  left: $menu-width;
  right: 0;
  height: $navbar-height;
  position: fixed;
  padding: 0 $unit-space;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #bbbbbb;
}
